body{

margin:0;
overflow:hidden;
background:black;
font-family:Arial;

}

#canvas{

position:absolute;
width:100%;
height:100%;

}

#marvelLogo{

position:absolute;
top:40px;
left:50%;
transform:translateX(-50%);
font-size:45px;
font-weight:bold;
background:red;
color:white;
padding:10px 25px;

}

#marvelLogo span{

background:white;
color:black;
padding:5px;
margin-left:6px;

}

#loginPanel{

position:absolute;
top:55%;
left:120%;
transform:translate(-50%,-50%);

width:320px;

padding:40px;

background:rgba(0,0,0,0.8);

border:2px solid red;

border-radius:20px;

box-shadow:0 0 50px red;

color:white;

backdrop-filter:blur(10px);

}

#loginPanel input{

width:100%;
margin:12px 0;
padding:12px;
border:none;
border-radius:8px;
background:#111;
color:white;

}

#loginPanel button{

width:100%;
padding:12px;
border:none;
background:red;
color:white;
border-radius:10px;
font-weight:bold;
cursor:pointer;

}
